body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333; /* Dark background */
    color: #f0f0f0; /* Light text */
}

header {
    background-color: #660000; /* Dark red */
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #990000; /* Darker red */
}

.tabcontent {
    display: none;
    padding: 2em;
    border-bottom: 1px solid #990000; /* Darker red border */
}

footer {
    background-color: #660000; /* Dark red */
    color: white;
    text-align: center;
    padding: 1em 0;
}

button {
    background-color: #cc0000; /* Bright red */
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    background-color: #990000; /* Darker red on hover */
}

form label {
    display: block;
    margin-top: 1em;
    color: #cc0000; /* Bright red */
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #cc0000; /* Bright red border */
    background-color: #444; /* Dark input background */
    color: #f0f0f0; /* Light input text */
}

form input:focus, form textarea:focus {
    border: 1px solid #ff6666; /* Lighter red border on focus */
    outline: none;
}
